body{
  font-family:Helvetica,Arial,sans-serif;
  background:#cfc;
}

label{
  display:block;
}

input{
  color:#000;
  background:#fff;
  border:solid 1px #000;
  margin-left:40px;
  width:200px;
}

.boton{
  width:auto;
  font-weight:bold;
}

#pie{
  border-top:solid 1px #333;
  text-align:center;
  font-size:11px;
}
