body{
  background:#cfc;
  font-size:14px;
  font-family:Helvetica,Arial,sans-serif;
}

label{
  display:block;
}

a:hover{
  text-decoration:none;
}

input{
  color:#000;
  background:#fff;
  border:solid 1px #000;
  margin-left:40px;
  width:200px;
}

.boton{
  width:auto;
  font-weight:bold;
}
.clear{
  clear:both;
}

#cabeza ul{
  list-style:none;
  margin:0;
  padding:0;
  clear:both;
}

#cabeza ul li{
  list-style:none;
  margin:2px;
  padding:2px;
  float:left;
  font-weight:bold;
}

#pie{
  text-align:center;
  font-size:11px;
}

#pie hr{
  border:0;
  background-color:#333;
  width:90%;
  height:1px;
}
