{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Ingresar" %}{% endblock title %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
  
    <input type="submit" class="button" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  
  <p>{% trans "Olvidaste la contraseña" %}? <a href="{% url auth_password_reset %}">{% trans "Reiniciar contraseña" %}</a>!</p>
  <p>{% trans "Registrarse" %}? <a href="{% url registration_register %}">{% trans "Registro" %}</a>!</p>
{% endblock %}
