{% load i18n %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Agendo - {% block titulo %}{% endblock titulo %}</title>
        <link rel="stylesheet" href="/site_media/css/estilo.css" type="text/css" />
    </head>
    <body>
    {% block contenido %}{% endblock contenido %}
    {% block pie %}
        <div id="pie">
            <p>
                {% trans "Gracias por visitar el sitio" %}.
                <a href="https://github.com/totoloco/agendo">{% trans "Agendo es libre" %}</a>.
                {% trans "Agendo no es un servidor de archivos, para eso podrías probar con un servidor HTTP, un servidor FTP, un servidor git o uno Mercurial" %}.
            </p>
        </div>
    {% endblock pie %}
    </body>
</html>
