{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Agendo - {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/site_media/css/master.css" type="text/css" />
  </head>
  <body>
    {% block content %}{% endblock content %}
    {% block footer %}
    <div id="footer">
      <p>
        {% trans "Gracias por visitar el sitio" %}.
        <a href="https://github.com/totoloco/agendo">{% trans "Agendo es libre" %}</a>.
        {% trans "Agendo no es un servidor de archivos, para eso podrías probar con un servidor http, un servidor ftp, un servidor git, o uno mercurial" %}.
      </p>
    </div>
    {% endblock footer %}
  </body>
</html>
